inspectorjs {
  background-color: var(--bg-inspector);
  color: var(--color-dark);
}

inspectorjs *:focus-visible {
  outline: var(--main-color1) solid 2px;
  outline-offset: -2px;
}

inspectorjs_group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid rgba(133, 133, 133, 0.173);
  padding: 8px 10px;
  border-radius: var(--radius-md);
  gap: 8px;
  background-color: var(--bg-inspector);
  margin: 10px 0px;
  position: relative;
}

inspectorjs_group:first-child {
  margin-top: 0px;
}

inspectorjs_group:last-child {
  margin-bottom: 0px;
}

inspectorjs_group[open=false]>* {
  display: none !important;
}

inspectorjs_group[open=false]>inspectorjs_title {
  display: flex !important;
  margin-bottom: 0px;
}

inspectorjs_group[open=false]>inspectorjs_title:after {
  display: none;
}

inspectorjs_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

inspectorjs_title:after {
  content: '';
  height: 0;
  width: calc(100% + 20px);
  border-top: 1px solid #8f8f8f2e;
  position: absolute;
  bottom: -10px;
  left: -10px;
}

.inspectorjs_left {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.inspectorjs_right {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-right: -3px;
}

.inspectorjs_left_more {
  height: 15px;
  width: 15px;
  min-width: 15px;
  min-height: 15px;
  text-align: center;
  line-height: 15px;
  color: var(--color-dark);
  transition: var(--trans-md);
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--radius-md);
}

inspectorjs_group[open=true]>inspectorjs_title>.inspectorjs_left>.inspectorjs_left_more {
  transform: rotate(90deg);
}

.inspectorjs_left_icon {
  height: 22px;
  width: 22px;
  min-width: 22px;
  min-height: 22px;
  text-align: center;
  line-height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.inspectorjs_left_name {
  font-family: 'gb';
  font-size: 15px;
}

.inspectorjs_right button {
  height: 26px;
  width: 26px;
  min-width: 26px;
  min-height: 26px;
  text-align: center;
  line-height: 26px;
  color: var(--color-dark);
  transition: var(--trans-md);
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: var(--radius-sm);
}

.inspectorjs_right button:hover {
  background-color: var(--main-color1-hover);
}

inspectorjs_hr {
  height: 0;
  width: 100%;
  border-top: 1px solid #8f8f8f2e;
  margin-top: 10px;
  margin-bottom: 10px;
}

inspectorjs_value {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  position: relative;
}

inspectorjs_value:last-child {
  margin-bottom: 5px;
}

.inspectorjs_value_property {
  font-family: 'gl';
  font-size: 13px;
  line-height: 12px;
  max-width: 100%;
  /* width: 40%; */
  /* word-break: break-all; */
  word-wrap: break-word;
  display: inline-block;
  z-index: 9;
  padding-right: 10px;
  background-color: var(--bg-inspector);
}

.inspectorjs_value_value:before {
  content: "";
  width: 10px;
  min-width: 10px;
  margin-right: -10px;
}

.inspectorjs_value_value {
  /* width: fit-content; */
  max-width: calc(50% - 1px);
  /* min-width: calc(50% - 1px); */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  z-index: 9;
  background-color: var(--bg-inspector);
}

.inspectorjs_value_value[full] {
  width: 100% !important;
}

.inspectorjs_value_value[group] {
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding-left: 10px;
}

.inspectorjs_value_value[group] .inspectorjs_value_value[group] {
  padding-left: 0px;
}

.inspectorjs_value_value[group="4"] {
  grid-template-columns: repeat(4, 1fr);
}

.inspectorjs_value_value[group="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.inspectorjs_value_value[group="1"] {
  grid-template-columns: repeat(1, 1fr);
}



.inspectorjs_value_value[group]:before {
  display: none;
}



inspectorjs_value:after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  height: 0px;
  width: 100%;
  min-width: 0px;
  /* z-index: -9; */
  transition: var(--trans-md);
  border-top: 1px dashed rgb(133 133 133 / 30%);
}

inspectorjs_value:hover:after,
inspectorjs_value:focus-within:after {
  opacity: 0.5;
}



.inspectorjs_value_value>input,
.inspectorjs_value_value>textarea {
  border: none;
  border-radius: var(--radius-md);
  background-color: #7e7e7e1c;
  font-family: gl;
  font-size: 13px;
  padding: 5px 8px;
  width: 100%;
  color: var(--color-dark)
}

.inspectorjs_value_value>input[type=range] {
  background-color: transparent;
  padding: 5px 0px;
}

.inspectorjs_value_value>input[type=range][readonly=true] {
  pointer-events: none;
}


inspectorjs input[type=number]::-webkit-inner-spin-button {
  display: none;
}

inspectorjs input[type=number] {
  -moz-appearance: textfield;
}


.inspectorjs_value_value>select {
  border: none;
  border-radius: var(--radius-md);
  background-color: #7e7e7e1c;
  font-family: gl;
  font-size: 13px;
  padding: 4px 4px;
  width: 100%;
  color: var(--color-dark);
  cursor: pointer;
}

.inspectorjs_value_value>*[disabled='disabled'] {
  cursor: not-allowed !important;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #7e7e7e1c;
  border-radius: calc(var(--radius-elg) * 100);
  border: 0px solid #000101;
  transition: var(--trans-md);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: calc(var(--radius-elg) * 100);
  background: var(--main-color1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--main-color1-hover);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: var(--main-color1-hover);
  border-radius: calc(var(--radius-elg) * 100);
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: calc(var(--radius-elg) * 100);
  background: #65001c;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: calc(var(--radius-elg) * 100);
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: calc(var(--radius-elg) * 100);
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: calc(var(--radius-elg) * 100);
  background: #65001c;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}


.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 28px;
  border-radius: var(--radius-elg);
  background-color: #7e7e7e1c;
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 3px;
}

.checkbox>input {
  display: none;
}

.checkbox>input:not(checked):disabled~label:before {
  content: "\E914";
  font-family: 'ico';
  height: 16px;
  width: 16px;
  position: absolute;
  left: 11.5px;
  font-size: 11px;
  opacity: 0.5;
  right: 0;
  margin: auto;
  line-height: 16px;
}

.checkbox>input:checked:disabled~label:before {
  color: #fff;
}

.checkbox>input:checked~label {
  transform: translate(12px, 0px);
  background-color: var(--main-color1);
  border: 1px solid var(--main-color1);
}

.checkbox>label {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: var(--radius-elg);
  background-color: var(--bg1);
  border: 1px solid #77777769;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--trans-sm);
}

input[type="color"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
}


.fileChanger {
  border: none;
  border-radius: var(--radius-md);
  background-color: #7e7e7e1c;
  font-family: gl;
  font-size: 13px;
  padding: 5px 8px;
  width: 100%;
  color: var(--color-dark);
  cursor: pointer;
  word-break: break-all;
}

.fileChanger input[type=file] {
  display: none;
}

.inspectorjs_value_value[group]>inspectorjs_value {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-bottom: 0px;
}

.inspectorjs_value_value[group]>inspectorjs_value>.inspectorjs_value_property {
  font-family: gl;
  font-size: 10px;
  max-width: 100% !important;
  line-height: initial;
  display: block;
  padding-right: 0px;
  width: 100%;
  text-align: center;
}

.inspectorjs_value_value[group]>inspectorjs_value>.inspectorjs_value_value {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

.inspectorjs_value_value[group]>inspectorjs_value>.inspectorjs_value_value>input {
  border: none;
  border-radius: var(--radius-md);
  background-color: #7e7e7e1c;
  font-family: gl;
  font-size: 13px;
  padding: 5px 8px;
  width: 100%;
  color: var(--color-dark);
  text-align: center;
}

.inspectorjs_value_value[group] .inspectorjs_value_value:before {
  display: none;
}

.inspectorjs_value_value[group] inspectorjs_value:after {
  display: none;
}

.colorChanger {
  position: relative;
  padding: 5px 10px;
  color: #fff;
  font-family: gl;
  font-size: 12px;
  border-radius: var(--radius-md);
  user-select: none;
  cursor: pointer;
  min-height: 25px;
  display: block;
  text-align: center;
}

.inspectorjs_property_button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid rgba(133, 133, 133, 0.173);
  border-radius: var(--radius-md);
  font-family: 'gl';
  padding: 4px 7px;
  cursor: pointer;
  font-size: 13px;
  background-color: transparent;
  color: var(--color-dark);
  transition: var(--trans-md);
  text-decoration: none;
}

.inspectorjs_property_button[default=true]:hover {
  background-color: var(--main-color1-opacity);
}

.inspectorjs_property_button * {
  pointer-events: none;
  word-break: break-word;
  text-align: left;
}

.inspectorjs_property_button .icon {
  text-align: center;
}

.inspectorjs_value_value[group]>inspectorjs_value .inspectorjs_property_button * {
  word-break: normal;
}

.inspectorjs_value_value[group] .inspectorjs_property_button {
  width: 100%;
}

centralMarker {
  position: relative;
  height: 80px;
  width: 80px;
  min-width: 80px;
  min-height: 80px;
  background-color: #7e7e7e1c;
  padding: 0px;
  border-radius: var(--radius-md);
}

centralMarkerAxis {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 80px;
  max-height: 80px;
}

centralMarkerAxisOx {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #83838387;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

centralMarkerAxisOx:before {
  /* content: ""; */
  position: absolute;
  height: 11px;
  width: 1px;
  background-color: #83838387;
  top: 0.5px;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

centralMarkerAxisOx:after {
  /* content: ""; */
  position: absolute;
  height: 11px;
  width: 1px;
  background-color: #83838387;
  top: 0.5px;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

centralMarkerAxisOy {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #83838387;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

centralMarkerAxisOy:before {
  /* content: ""; */
  position: absolute;
  width: 11px;
  height: 1px;
  background-color: #83838387;
  top: 0px;
  left: calc(50% + 0px);
  transform: translateX(-50%);
  pointer-events: none;
}

centralMarkerAxisOy:after {
  /* content: ""; */
  position: absolute;
  width: 11px;
  height: 1px;
  background-color: #83838387;
  bottom: 0px;
  left: calc(50% + 0px);
  transform: translateX(-50%);
  pointer-events: none;
}

centralMarkerAxisOxBg {
  position: absolute;
  height: 8px;
  width: 100%;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB3aWR0aD0iMTAwbW0iCiAgIGhlaWdodD0iMTAwbW0iCiAgIHZpZXdCb3g9IjAgMCAxMDAgMTAwIgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmcxIgogICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxkZWZzCiAgICAgaWQ9ImRlZnMxIiAvPgogIDxnCiAgICAgaWQ9ImxheWVyMSI+CiAgICA8cmVjdAogICAgICAgc3R5bGU9ImZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2Utd2lkdGg6Mi41MjI2NztzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2Utb3BhY2l0eTowLjMwOTAxMyIKICAgICAgIGlkPSJyZWN0MSIKICAgICAgIHdpZHRoPSIyLjkzMjA1NTUiCiAgICAgICBoZWlnaHQ9Ijk4LjY1NTA1MiIKICAgICAgIHg9IjQ4LjI5OTg2MiIKICAgICAgIHk9IjAuOTMzODEwMzUiCiAgICAgICByeD0iMC42MjUyMDYyMyIKICAgICAgIHJ5PSIwIiAvPgogIDwvZz4KPC9zdmc+Cg==");
  transform: translateY(calc(-50% - -0.5px));
  background-size: 10px;
  background-position: center;
  background-repeat: repeat-x;
  pointer-events: none;
}

centralMarkerAxisOyBg {
  position: absolute;
  width: 8px;
  height: 100%;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gQ3JlYXRlZCB3aXRoIElua3NjYXBlIChodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy8pIC0tPgoKPHN2ZwogICB3aWR0aD0iMTAwbW0iCiAgIGhlaWdodD0iMTAwbW0iCiAgIHZpZXdCb3g9IjAgMCAxMDAgMTAwIgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmcxIgogICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxkZWZzCiAgICAgaWQ9ImRlZnMxIiAvPgogIDxnCiAgICAgaWQ9ImxheWVyMSI+CiAgICA8cmVjdAogICAgICAgc3R5bGU9ImZpbGw6IzAwMDAwMDtmaWxsLW9wYWNpdHk6MTtzdHJva2Utd2lkdGg6Mi41MjI2NztzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2Utb3BhY2l0eTowLjMwOTAxMyIKICAgICAgIGlkPSJyZWN0MSIKICAgICAgIHdpZHRoPSIyLjkzMjA1NTUiCiAgICAgICBoZWlnaHQ9Ijk4LjY1NTA1MiIKICAgICAgIHg9IjQ4LjI3Nzg4NSIKICAgICAgIHk9Ii05OS4zNTIxMjciCiAgICAgICByeD0iMC42MjUyMDYyMyIKICAgICAgIHJ5PSIwIgogICAgICAgdHJhbnNmb3JtPSJyb3RhdGUoOTApIiAvPgogIDwvZz4KPC9zdmc+Cg==");
  transform: translateX(calc(-50% + 0.7px));
  background-repeat: repeat-y;
  background-size: 10px;
  background-position: center;
  pointer-events: none;
}

centralMarkerAxisPoint {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #83838357;
  background-color: var(--main-color1-hover);
  pointer-events: none;
}

centralMarkerPoint {
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%);
  border-radius: var(--radius-elg);
  background-color: var(--main-color1);
  pointer-events: none;
}

centralMarkerPoint:before{
  content: "";
  position: absolute;
  width: 2px;
  height: 170%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: var(--main-color1);
  border-radius: var(--radius-elg);
  pointer-events: none;
}
centralMarkerPoint:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 170%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: var(--main-color1);
  border-radius: var(--radius-elg);
  transform: rotate(90deg);
  pointer-events: none;
}
centralMarkerPointBg{
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 99;
  border-radius: var(--radius-elg);
  pointer-events: none;
}
centralMarkerPointBg:before{
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  background-color: var(--main-color1);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 99;
  border-radius: var(--radius-elg);
}

multiSwitch {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-md);
  overflow: hidden;
}

multiSwitchElem {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: var(--trans-md);
  cursor: pointer;
  background-color: #7e7e7e1c;
}
multiSwitchElem[active]{
  background-color: var(--main-color1-hover);
}
multiSwitchElem > div{
  height: 15px;
  width: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
}
.multiSwitchElem_icons-left {
  background-image: url('./assets/svg/alignLeft.png');
  filter: var(--invert0);
}

.multiSwitchElem_icons-right {
  background-image: url('./assets/svg/alignRight.png');
  filter: var(--invert0);
}

.multiSwitchElem_icons-centerX {
  background-image: url('./assets/svg/alignCenterX.png');
  filter: var(--invert0);
}

.multiSwitchElem_icons-top {
  background-image: url('./assets/svg/alignTop.png');
  filter: var(--invert0);
}

.multiSwitchElem_icons-bottom {
  background-image: url('./assets/svg/alignBottom.png');
  filter: var(--invert0);
}

.multiSwitchElem_icons-centerY {
  background-image: url('./assets/svg/alignCenterY.png');
  filter: var(--invert0);
}